.react-calendar {
    height: auto !important;
    max-height: 315px !important;
    width: 400px !important;
    overflow: auto;
    border-radius: 15px;
  }
  
.react-calendar__navigation{
  background-color: #E29D3F;
}

.react-calendar__navigation__label{
  color: black;
}

.react-calendar__navigation__prev2-button{
  color: black;
}

.react-calendar__navigation__prev-button{
  color: black;
}

.react-calendar__navigation__next-button{
  color: black;
}

.react-calendar__navigation__next2-button{
  color: black;
}

  .react-calendar__tile {
    height: 35px !important; 
    line-height: 35px !important; 
    padding: 0 !important; 
}
