.folder-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 80%;
}

.tabs {
  display: flex;
  margin: 0;
}

.tab {
  width: 8rem;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: black;
  text-align: center;
  transition: background 0.3s;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.home-tab {
  background: #fffa9d;
  border-top-left-radius: 10px;
  border-bottom: 1px solid transparent;
}

.tasks-tab {
  background: #ffe79f;
  border-bottom: 1px solid transparent;
}

.archive-tab {
  background: #cc915c;
  border-top-right-radius: 15px;
  border-bottom: 1px solid transparent;
}

.tab:hover {
  background: #e29d3f;
  color: #fff;
}

.content {
  border: none;
  padding: 20px;
  width: calc(100% - 2px);
  max-width: 80%;
  text-align: left;
  border-radius: 0 5px 10px 10px;
  box-sizing: border-box;
  height: 30rem;
}

.home-content {
  background-color: #fffa9d;
}

.tasks-content {
  background-color: #ffe79f;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.archive-content {
  background-color: #cc915c;
}

/*TASK CSS PLEASE DONT TOUCH*/

/*EDIT THIS COMMENT AND ADD UR CSS BELOW HERE*/
