.taskTitle {
  border-radius: 5px;
  height: 30px;
  width: 310px;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h3{
  color: #514538;
}

.taskTitle:focus {
  border: 3px solid #cc915c; 
  outline: none;
}
.taskDesc {
  border-radius: 5px;
  height: 30px;
  width: 310px;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}
.taskDesc:focus {
  border: 3px solid #cc915c; 
  outline: none;
}
.taskInput {
  border-radius: 5px;
  height: 30px;
}


.taskDue {
  border: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 4px; 
 
}
.dueDateLabel {
  font-size: 13px;
  padding: 5px;
  
}

.addTask {
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  width: 310px;
  margin-top: 10px;
  background-color: #e29d3f;
  font-weight: bold;
}

.addTask:hover {
  font-weight: bold;
  background-color: #cc915c;
  box-shadow: 0 12px 16px 0 rgba(186, 183, 183, 0.24),
    0 17px 50px 0 rgba(210, 234, 0, 0.19);
}
.high {
  color: red;
}
.medium {
  color: #a69e01;
}
.low {
  color: green;
}

.create-task-form {
  flex: 0;
  margin-right: 20px;
  margin-left: 1rem;
  width: auto;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
  margin-right: 20px;
  max-height: 430px; 
}

.scrollableTasks {
  max-height: 400px; 
  overflow-y: auto; /* scrolling */
  padding: 10px; 
}

.scrollableTasks::-webkit-scrollbar {
  width: 10px; 
}

/*background of the scrollbar */
.scrollableTasks::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

/*the draggable part */
.scrollableTasks::-webkit-scrollbar-thumb {
  background-color: #cc915c;
  border-radius: 15px; 
  border: 2px solid #f1f1f1; 
}

/* Hover effect for scroll */
.scrollableTasks::-webkit-scrollbar-thumb:hover {
  background-color: #e29d3f;
}


.taskCard {
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.task-head {

  justify-content: center;
  display: flex;

}

.task-priority{
  margin-left: auto;

}

.taskPriority {
  padding: 4px 8px;
  border-radius: 4px;
  border-color: #FFE79F;
  font-size: 0.8em;
  width: 120px;
  height: 30px;
  border-radius: 10px;
 
}

.high {
  background-color: red;
}

.medium {
  background-color: #a69e01;
}

.low {
  background-color: green;
}

.task-desc {
  color: #666;
  font-size: 0.9em;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

.taskdue-final{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.completeStatus {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  gap: 6px;
}

.completeStatus input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.2);
}

.taskButtons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.taskButtons button {
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  background-color: #e29d3f;
  color: white;
  font-weight: 300;
}

.taskButtons button:hover {
  background-color: #cc915c;
}
.taskHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.editTaskButton {
  width: 50px;
  height: 30px; 
  background-color: transparent;
  border: none; 
  cursor: pointer; 
}

.editTaskButton img {
  width: 20px; 
  height: 20px; 
   
}